<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	
	<util:properties id="auditoriumProp1"  location="classpath:/auditoriums/auditorium1.properties"/>
	<util:properties id="auditoriumProp2"  location="classpath:/auditoriums/auditorium2.properties" />
	<util:properties id="auditoriumProp3"  location="classpath:/auditoriums/auditorium3.properties" />
	
	<bean id="auditorium1" class="springtutorial.model.Auditorium">
		<property name="id" value="#{auditoriumProp1.id}"/>
		<property name="name" value="#{auditoriumProp1.name}"/>
		<property name="numberOfSeats" value="#{auditoriumProp1.numberOfSeats}"/>
		<property name="vipSeats" value="#{auditoriumProp1.vipSeats}"/>
	</bean>
	
	<bean id="auditorium2" class="springtutorial.model.Auditorium">
		<property name="id" value="#{auditoriumProp2.id}"/>
		<property name="name" value="#{auditoriumProp2.name}"/>
		<property name="numberOfSeats" value="#{auditoriumProp2.numberOfSeats}"/>
		<property name="vipSeats" value="#{auditoriumProp2.vipSeats}"/>
	</bean>
	<bean id="auditorium3" class="springtutorial.model.Auditorium">
		<property name="id" value="#{auditoriumProp3.id}"/>
		<property name="name" value="#{auditoriumProp3.name}"/>
		<property name="numberOfSeats" value="#{auditoriumProp3.numberOfSeats}"/>
		<property name="vipSeats" value="#{auditoriumProp3.vipSeats}"/>
	</bean>
	
	
	<bean id="AuditoriumDAO" class="springtutorial.dao.impl.AuditoriumDaoImpl">
		<constructor-arg>
			<list>
				<ref bean="auditorium1"/>
				<ref bean="auditorium2"/>
				<ref bean="auditorium3"/>
			</list>
		</constructor-arg>
	</bean>
</beans>